@model DiyProjectCalc.Models.DTO.ProjectDTO

<form method="post">
    <input asp-for="ProjectId" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Project</h2>
            <hr />
        </div>
        <div class="mb-2">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" disabled/>
        </div>
        <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
        <a asp-controller="Projects" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Cancel
        </a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
