@model DiyProjectCalc.Models.DTO.ProjectDTO

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div class="text-info">
    <a asp-controller="Materials" asp-action="Index" asp-route-ProjectId="@Model?.Id" >Materials for this project</a>
    <br />
    <br />
    <a asp-controller="BasicShapes" asp-action="Index" asp-route-ProjectId="@Model?.Id" >Shapes for this project</a>
    <br />
    <br />
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
